In [ ]:
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [13]:
#Add item 70 after 60 in the following Python List
#input

list1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
list1

[10, 20, [30, 40, [50, 60], 80], 90, 100]

In [14]:
#first finding out where i should insert value
list2 = list1[2][2]
list2

[50, 60]

In [15]:
#After that i am inserting value
list2.insert(60,70)
list2

[50, 60, 70]

In [16]:
#final
list1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [ ]:
#add sublist [7,8]
#input
lt = [1,2,[3,4,5,6],9]
#output
[1,2,[3,4,5,6,[7,8]],9]

In [24]:
#for this list i want to add sublist

List_1 = [1,2,[3,4,5,6],9]
List_1

[1, 2, [3, 4, 5, 6], 9]

In [25]:
#here i am  separation[3,4,5,6]

List_2=List_1[2][0:4]
List_2

[3, 4, 5, 6]

In [26]:
#for that slicing i am inserting [7,8]

List_2.insert(4,[7,8])
List_2

[3, 4, 5, 6, [7, 8]]

In [27]:
#in the list_1 i am deleting some values using pop

List_1.pop(2)
List_1

[1, 2, 9]

In [28]:
#After that in List_1 i am inserting list_2

List_1.insert(2,List_2)
List_1

[1, 2, [3, 4, 5, 6, [7, 8]], 9]