In [1]:
#dict example 

dict1={
    "april_batch":{
        "student":{
            "name":"mike",
            "marks":{
                "python":80,
                "maths":70
            }
        }
    }
}

dict1

{'april_batch': {'student': {'name': 'mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [2]:
#acessing the "mike"
dict1["april_batch"]["student"]["name"]

'mike'

In [3]:
#acessing the 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [4]:
#changing name from mike to deepika
dict1["april_batch"]["student"]["name"]="Deepika"
dict1

{'april_batch': {'student': {'name': 'Deepika',
   'marks': {'python': 80, 'maths': 70}}}}

In [5]:
#adding elements SDET inside marks
dict1["april_batch"]["student"]["marks"]["SDET"]="100"
dict1

{'april_batch': {'student': {'name': 'Deepika',
   'marks': {'python': 80, 'maths': 70, 'SDET': '100'}}}}

In [6]:
#adding elements dev inside marks
dict1["april_batch"]["student"]["marks"]["DEV"]="90"
dict1

{'april_batch': {'student': {'name': 'Deepika',
   'marks': {'python': 80, 'maths': 70, 'SDET': '100', 'DEV': '90'}}}}

In [7]:
#final
dict1

{'april_batch': {'student': {'name': 'Deepika',
   'marks': {'python': 80, 'maths': 70, 'SDET': '100', 'DEV': '90'}}}}